.songcontainer-main{
  padding: 20px;
  border: 1px solid orange;

  order: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;

  overflow: auto;
  height: 90%;
  line-height: 200%;
  z-index: 0;
  opacity: 1;

}



.relevant{
  font-weight: bold;
}
