.murshid-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/deep/ .selectedRed {
  color: red;
}


/deep/ .selectedGreen {
  color: green;
}
