<div class="dictionaries_container" id="dictionariesContainer" >
  <div *ngIf="content">

    <div class="dictionary_global_header">
      <span>{{content.inflected_hindi}}</span> &nbsp;-&nbsp; <span class="part_of_speech">{{content.inflected_part_of_speech_label}}</span>
    </div>

    <div *ngIf="content.accidence_labels.length" >
      <span class="accidence_word" *ngFor="let accidenceLabel of content.accidence_labels">{{accidenceLabel}}</span>
      <span class="accidence_word">of</span>
      <span class="canonical_hindi">{{content.canonical_hindi}}</span>
    </div>

    <br/>
    <div *ngFor="let dicEntryArr of content.dictionary_entries_inflected; let i = index" class="dictionary_entry_array">
      <div *ngFor="let   dicEntry of dicEntryArr; let e = index">
        <span *ngIf="e == 0" class="dictionary_name">{{dicEntry.dictionary_source}}</span>
        <span *ngIf="e != 0" class="secondary_canonical_hindi">{{dicEntry.hindi_word}}</span>
        <p class="dictionary_entry_content">
          {{dicEntry.meaning}}
        </p>
      </div>
    </div>

    <br/>
    <div *ngIf="content.dictionary_entries_not_inflected">
      <div class="dictionary_global_header">
        <span>{{content.not_inflected_hindi}}</span> &nbsp;-&nbsp; <span class="part_of_speech">{{content.not_inflected_part_of_speech_label}}</span>
      </div>
      <div *ngFor="let dicEntryArr of content.dictionary_entries_not_inflected; let i= index" class="dictionary_entry_array">
        <div *ngFor="let dicEntry of dicEntryArr; let e = index">
          <span *ngIf="e == 0" class="dictionary_name_not_inflected">{{dicEntry.dictionary_source}}</span>
          <span *ngIf="e != 0" class="secondary_canonical_hindi">{{dicEntry.hindi_word}}</span>
          <p class="dictionary_entry_content">
            {{dicEntry.meaning}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
