.dictionaries_container{
  padding: 2px;
  /* order: 1; */
  flex: 0 0 500px;
  width: 500px;
  /* align-self: flex-start; */
  display: none;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  left: 0;
  opacity: 1;
  background: antiquewhite;
}

.modal-open{
  display: flex;
}

.modal-close{
  display: none;
}

.dictionary_name {
  border-radius: 3px;
  height: 20px;
  border: 1px solid orange;
  color: orange;
  padding-left: 10px;
  padding-right: 10px;
}

.dictionary_name_not_inflected {
  border-radius: 5px;
  height: 20px;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  padding-left: 10px;
  padding-right: 10px;
}

.dictionary_global_header{
  padding: 5px;
}

.part_of_speech {
  font-family: Tahoma, Arial, sans-serif;
  color: #6c6c6c;
}

.accidence_word{
  padding-left: 5px;
  font-style: italic;
  font-family: Tahoma, Arial, sans-serif;
  color: #6c6c6c;
}

.canonical_hindi{
  font-weight: bold;
  padding-left: 5px;
}

.secondary_canonical_hindi{
  font-weight: bold;
  padding-left: 10px;
  border-bottom: 0;
  margin-bottom: 0;
}

.dictionary_entry_content{
  margin-top: 8px;
  text-align: justify;
  text-justify: inter-word;
  font-family: Tahoma, Arial, sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  color: #6c6c6c;
}



.dictionary_entry_array {
  border: 0.5px solid darkgrey;
  border-radius: 5px;
  margin: 10px;
  background: white;
}

#mydivheader {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
}
