<div class="dictionaries_container" id="dictionariesContainer" >
  <button (click)="closeModal();">Close</button>
  <div *ngIf="content">

    <div class="dictionary_global_header">
      <span>{{content.inflected_hindi}}</span> &nbsp;-&nbsp; <span class="part_of_speech">{{content.inflected_part_of_speech_label}}</span>
    </div>

    <div *ngIf="content.accidence_labels.length" >
      <span class="accidence_word" *ngFor="let accidenceLabel of content.accidence_labels">{{accidenceLabel}}</span>
      <span class="accidence_word">of</span>
      <span class="canonical_hindi">{{content.canonical_hindi}}</span>
    </div>

    <br/>
    <div *ngFor="let dictionarySource of objectKeys(content.dictionary_entries_inflected); let i = index" class="dictionary_entry_array">
      <span class="dictionary_name">{{dictionarySource}}</span>
      <div *ngFor="let   dicEntry of content.dictionary_entries_inflected[dictionarySource]; let e = index">
        <span *ngIf="e != 0" class="secondary_canonical_hindi">{{dicEntry.hindi_word}}</span>
        <p class="dictionary_entry_content">
          {{dicEntry.meaning}}
        </p>
      </div>
    </div>

    <br/>
    <span *ngIf="content.dictionary_entries_not_inflected">
      <div *ngFor="let dictionarySource of objectKeys(content.dictionary_entries_not_inflected); let i = index" class="dictionary_entry_array">
        <span class="dictionary_name_not_inflected">{{dictionarySource}}</span>
        <div *ngFor="let   dicEntry of content.dictionary_entries_not_inflected[dictionarySource]; let e = index">
          <span class="secondary_canonical_hindi">{{dicEntry.hindi_word}}</span>
          <p class="dictionary_entry_content">
            {{dicEntry.meaning}}
          </p>
        </div>
      </div>
    </span>


  </div>
</div>
